.App {
  text-align: center;
  margin: 20px;
}

.App-link {
  color: #61dafb;
}

.stats {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-self: center;
}

.section {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  align-items: flex-start;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
